<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
<head>
  <meta charset="utf-8">
  $if(unfinished)$<meta name="robots" content="noindex">$endif$
  <meta name="google-site-verification" content="y-gj-eNGiiocXI1nd6EPlywGEfhW90jeeFO__ePHvbg" />
  <meta name="generator" content="pandoc">
  <meta name="viewport" 
        content="width=device-width, initial-scale=1.0, user-scalable=yes">
$if(keywords)$
  <meta name="keywords" content="$keywords$">
$endif$
  <link rel="icon" type="image/png" href="/ame256.png">
  <link rel="alternate" type="application/rss+xml" href="/feed.xml"
        title="RSS"> 
$for(author-meta)$
  <meta name="author" content="$author-meta$">
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$">
$endif$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <style type="text/css">code{white-space: pre;}</style>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u="https://admin.artyom.me/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</head>

<body>

<div id="header">
  <a href="/">Artyom Kazak</a>
  <a href="/feed.xml"><img src="/feed-icon.svg" alt="feed"></a>
</div>

<div id="details">
  <p>
    Hi! I'm a backend developer at <a href="https://wire.com">Wire</a>, a
    Haskeller, and a keypress event generator. I live in Berlin, but
    originally I'm
    from <a href="https://en.wikipedia.org/wiki/Belarus">Belarus</a> (bonus
    points if you've ever heard of it).
  </p>
  <p>
    If you just want to talk or find out how my life's going or whatever,
    you can write me at <a href="mailto:yom@artyom.me">yom@artyom.me</a>
    or <a href="http://t.me/lightgreen">in Telegram</a>. If you want to (try
    to) hire me, here's my <a href="/cv">resume</a>. You can also peek at
    <a href="http://github.com/neongreen">my Github</a> (but most of the
    projects are <a href="http://github.com/aelve">here</a>). And I've got
    a <a href="http://telegram.me/lightgreen_life">Telegram channel</a> with
    links, short posts and what-not.
  </p>
  <p>
    This site was last updated on <strong>$today$</strong> under intriguing
    and mysterious circumstances. If you're unsure whether I'm alive, see my
    <a href="http://last.fm/user/mantisgreen">Last.fm</a>. Here's a
    <a href="http://tvtropes.org/pmwiki/randomitem.php?p=1">random TVTrope</a>,
    <a href="http://dynamic.xkcd.com/random/comic/">xkcd comic</a>, and
    <a href="http://thecatapi.com/api/images/get?format=src&type=jpg">kitten</a>
    for you. Have fun!
  </p>
</div>

<div id="main">

$for(include-before)$
$include-before$
$endfor$

$if(unfinished)$
<div style="font-size:2.5em;color:#eb2142;text-align:center">
Unfinished.
</div>
<hr>
$endif$

$if(series.top)$
<div id="series">
  $if(series.prev)$
    <a href="$series.prev$">&lt;&lt;&lt;</a>
  $else$
    <span class="grey"><a href="$series.toplink$">&lt;&lt;&lt;</a></span>
  $endif$

  <a href="$series.toplink$">$series.top$</a>

  $if(series.next)$
    <a href="$series.next$">&gt;&gt;&gt;</a>
  $else$
    <span class="grey"><a href="$series.toplink$">&gt;&gt;&gt;</a></span>
  $endif$
</div>
$endif$

$if(toc)$
<div id="$idprefix$TOC">
$toc$
</div>
$endif$

<article>
$if(title)$
<h1 class="title">$title$</h1>
$endif$

$body$
</article>

$for(include-after)$
$include-after$
$endfor$

$if(series.top)$
<div id="series">
  $if(series.prev)$
    <a href="$series.prev$">&lt;&lt;&lt;</a>
  $else$
    <span class="grey"><a href="$series.toplink$">&lt;&lt;&lt;</a></span>
  $endif$

  <a href="$series.toplink$">$series.top$</a>

  $if(series.next)$
    <a href="$series.next$">&gt;&gt;&gt;</a>
  $else$
    <span class="grey"><a href="$series.toplink$">&gt;&gt;&gt;</a></span>
  $endif$
</div>
$endif$

</div>

$if(latest-post-link)$
<div id="latest-post">
Read next: <a href="$latest-post-link$">$latest-post-title$</a>
</div>
$endif$

$if(comments-enabled)$
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "https://artyom.me/$url$";
this.page.identifier = "$url$";
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//artyomkazak.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
$endif$

<div id="footer">

<div style="text-align:center;font-size:0.9em;padding:0.5em 8px">
<a class="vert" href="https://github.com/neongreen/artyom.me/blob/master/$src$">view source</a>
<a class="vert" href="/inside">how it's made</a>
<a class="vert" href="/cv">hire me</a>
<a class="vert" href="/stats">stats</a>
<a class="vert" href="mailto:yom@artyom.me?subject=Regarding $url$">comment by email</a>
<a class="vert" href="/curiosity">curiosity killed the cat</a>
</div>

</div>

<script>
document.body.innerHTML = document.body.innerHTML.replace(/‾/g, "<span style='text-decoration: overline'> </span>");
</script>

</body>
</html>
